<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template - Directives</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS import -->
    <link rel="stylesheet" href="../css/reset.css">
    <style lang="">
        ul {
            list-style-type: none;
            display: inline-block;
            /*컨트롤 스페이스 누르니 추천검색어 뜬다.*/
        }

        span {
            font-size: 3em;
            border: 1px dashed blue;
            padding: 10px 20px;
            margin: 5px;
            text-align: center;
        }
    </style>

    <!-- vue 스크립트 플러그인 임포트   -->


</head>

<body>
    <hr>

    <h2>Arrary 바인딩</h2>
    <div id="app">
        <p>
            <ul>
                <!-- javascript for( var system in  systems); 문과 같다 -->
                <li v-for="system in systems">
                    {{ system }}
                </li>
            </ul>
        </p>
        <p>
            <span v-for="(val, i) in arr" v-bind:key="i">{{val}}</span>
        </p>
    </div>
    <hr>

    <h2>Object Arrary 바인딩</h2>
    <div id="app1">
        <div>
            <h2>Object Arrary rendered with v-for:</h2>
            <select name="" id="">
                <option v-for="option in options" v-bind::key="option.value">
                    <!--v-for는 반듯이 v-bind 키를 설정해야하며 키값은 중복되면 안된다.-->
                    <!--키값은 중복x여야한다-->
                    {{ option.text }} : {{ option.value}}
                </option>
            </select>
        </div>
    </div>

</body>

</html>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js">
    /* vue 플러그인 임포트 */
</script>
<script>
    var options = [{
            text: 'One',
            value: 'A'
        },
        {
            text: 'Two',
            value: 'B'
        },
        {
            text: 'Three',
            value: 'C'
        }
    ]
    for (index in options) {
        //debugger;
        var option = options[index];
        console.log("text > " + option.text, "value > " + option["value"]);
    }
    for (index of options) { //of로 할 경우 var option = options[index]; 를 안써도 된다.
        //debugger;
        console.log("text > " + option.text, "value > " + option["value"]);
    }
    //map함수를 이용해서 속성(프로퍼티) 추가
    var newopt = options.map(function (el, index) { //체인메소드
        var obj = el;
        obj["no"] = index;
        return obj;
    });
    console.log(newopt); // [{text:"", value="", no=""},{text:"", value="", no=""},{text:"", value="", no=""}] 가 만들어짐
</script>